<!DOCTYPE html>
<html>
<head>
  <title>Ezdz</title>
  <%= csrf_meta_tags -%>
  <%= render 'templates/meta' -%>
  <!-- CSS -->
  <%= stylesheet_link_tag    "#{params[:controller]}" -%>
  <%= stylesheet_link_tag    "font-awesome" -%>
  <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true -%>
  <!-- JS -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true -%>
  <%= javascript_include_tag "velocity" -%>
  <%= javascript_include_tag "#{params[:controller]}" -%>
  <%= yield :application_head -%>
</head>
<body>
  <% unless params[:no_intro] -%>
    <div id="app-intro">
      <%= image_tag 'loading.svg' -%>
      <!-- TODO: Intro message -->
    </div>
  <% end -%>
  <!-- Background -->
  <div id="app-bg">
  </div>
  <!-- App -->
  <div id="app-main">
    <div id="app-container">
      <div id="app-sidebar">
        <div id="app-sidebar-container">
          <ul id="app-menu">
            <li class="selected">Home</li>
            <li>Blog</li>
            <li>Portfolio</li>
            <li>Gallery</li>
            <li>Contact</li>
            <div id="app-menu-social">
              <a href="https://instagram.com/ezdzdev/" target="_blank">
                <i class="fa fa-instagram">
                  <span>@ezdzdev</span></i></a>
              <a href="https://instagram.com/ezdzdev/" target="_blank">
                <i class="fa fa-twitter-square">
                  <span>@ezdzdev</span></i></a>
              <a href="https://github.com/ezdzdev/" target="_blank">
                <i class="fa fa-git-square">
                  <span>/ezdzdev</span></i></a>
              <a href="https://www.linkedin.com/in/ezdzdev/" target="_blank">
                <i class="fa fa-linkedin-square">
                  <span>/in/ezdzdev</span></i></a>
            </div>
          </ul>
        </div>
      </div>
      <div id="app-body">
        <div id="app-topbar">
          <i style="float:left;" class="fa fa-bars"></i>
          <i style="float:right;" class="fa fa-expand"></i>
        </div>
        <!-- TODO: Use ajax to populate body -->
        <iframe id="app-frame" src="/home">Herp Derp</iframe>
        <!--<div id="test"></div>-->
      </div>
    </div>
  </div>
</body>
</html>
